certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
decorator==5.1.1
dnspython==2.2.1
future==0.18.2
idna==3.3
pycparser==2.21
pymongo==4.0.2
python-telegram-bot==12.7
PyYAML==6.0
requests==2.26.0
schedule==1.1.0
toml==0.10.2
tornado==6.1
urllib3==1.26.8
pymongo==4.0.2